.App {
  text-align: center;
  display:flex;
  flex-direction:column; 
  min-height: 100vh;
}

.luckbox {
  font-weight: 100;
  font-size: 3.5rem;
  color: #F6CC6E;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  background-color: #2B5177;
  border-radius: 5px;
  width: 380px;
  height: 200px;

}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  background: #020305;
  color: #FFFFFF;
  min-height: 100vh;
}

article {
  flex: 1;
}

footer {
  min-height: 50px;
}



@media (min-width:600px) {

  .luckbox {
    font-weight: 100;
    font-size: 5rem;
    color: #F6CC6E;
  }

}