.App {
  text-align: center;
  display:flex;
  flex-direction:column; 
  min-height: 100vh;
}

.big-title {
  font-weight: 600;
  font-size: 3.5rem;
  color: #F6CC6E;
}

.content {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  font-size: smaller;
  box-sizing: border-box;
  margin: 0 10px 40px;
  padding: 20px;
  background-color: #2B5177;
  border-radius: 10px;
  width: 250px;
  height: 150px;
  position: relative;
  z-index: 1;
}


.click-card {
  text-decoration: none;
  color: white;
}

.card:hover {
  background-color: #F6CC6E;
  cursor: pointer;
  color: #020305;
}

.invisible {
  visibility: hidden;
}

.socialMediaLogo {
  margin: 0 10px 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  background: #020305;
  color: #FFFFFF;
  min-height: 100vh;
}

article {
  flex: 1;
}

footer {
  min-height: 50px;
}



@media (min-width:600px) {

  .luckbox {
    font-weight: 600;
    font-size: 5rem;
    color: #F6CC6E;
  }

  .content {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    font-size: normal;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #2B5177;
    border-radius: 10px;
    width: 360px;
    height: 200px;
    margin: 0 20px 40px;
  
  }

}

@media (min-width:2000px) {

  .luckbox {
    font-weight: 600;
    font-size: 7rem;
    color: #F6CC6E;
  }

  .content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    font-size: larger;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #2B5177;
    border-radius: 10px;
    width: 460px;
    height: 250px;
    margin: 0 20px 40px;
  
  }

}